{{> common/breadcrumbs}}

{{> common/page-title title='Ketua DPR: Kenaikan Parliamentary Threshold Harus untuk Kepentingan Bangsa' rating='8.8' article=true}}

<main class="siteContent">
  <div container>
    <div row>
      <div column=8>
        <h4>10 Ulasan</h4>

        <div class="review-item text--center">
          <a href="">+ Buat Ulasan</a>
        </div>
        {{> list-item/review}}
        {{> list-item/review full=true }}
        {{> list-item/review}}
        {{> list-item/review}}
        {{> list-item/review}}
        {{> list-item/review}}
        {{> list-item/review}}
        {{> list-item/review}}
        {{> list-item/review}}
      </div>
      <div column=4>
        <h4>Berita Terkait</h4>

        {{> list-item/article}}
        {{> list-item/article}}
        {{> list-item/article}}
        {{> list-item/article}}
      </div>
    </div>
  </div>
</main>
