<!-- {{> common/page-title title='Artikel'}} -->

{{> common/breadcrumbs}}

<main class="siteContent--home">
  <div container>
    <div row>
      <div column="3">
        <h4>Filter berdasarkan...</h4>

        <div class="card">

        </div>

        <h4>Urut berdasarkan...</h4>

        <div class="card">
          <p>
            <input type="radio" name="sort" value="date" checked> <label for="date">Tanggal</label> <br>
            <input type="radio" name="sort" value="rating"> <label for="rating">Rating</label>
          </p>
        </div>
      </div>
      <div column="6">
        <h4>Artikel</h4>

        <div>
          {{> list-item/article}}
          {{> list-item/article}}
          {{> list-item/article}}
          {{> list-item/article}}
          {{> list-item/article}}
          {{> list-item/article}}
          {{> list-item/article}}
          {{> list-item/article}}
          {{> list-item/article}}
          {{> list-item/article}}
          {{> list-item/article}}
        </div>
      </div>
      <div column="3">
        <h4>Tautan lain</h4>
      </div>
    </div>
  </div>
</main>
