{{> common/breadcrumbs}}

{{> common/page-title title='Ketua DPR: Kenaikan Parliamentary Threshold Harus untuk Kepentingan Bangsa' rating='8.8' article=true}}

<main class="siteContent">
  <div container>
    <div row>
      <div column="8 +2">
        {{> list-item/review full=true}}

        <h4>200 Feedback untuk ulasan ini</h4>

        {{> list-item/feedback upvote=true}}
        {{> list-item/feedback upvote=true hasReplies=true}}
        {{> list-item/feedback}}
        {{> list-item/feedback upvote=true}}
        {{> list-item/feedback hasReplies=true}}
        {{> list-item/feedback}}
        {{> list-item/feedback upvote=true}}
        {{> list-item/feedback upvote=true}}
        {{> list-item/feedback upvote=true}}
        {{> list-item/feedback upvote=true}}
        {{> list-item/feedback upvote=true}}
      </div>
    </div>
  </div>
</main>
