<p>Masuk</p>
<form action="/masuk" method="post">
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="email@example.com" />
  <input type="submit" value="Masuk" />
</form>

<p>Buat Akun</p>
<form action="/gabung" method="post">
  <label for="email">Nama</label>
  <input type="text" name="name" placeholder="Budi Agus" />
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="email@example.com" />
  <input type="submit" value="Gabung" />
</form>
