.review-item {
  @extend .card;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;

  .review-item-header,
  .review-item-content,
  .review-item-footer {
    @include clearfix();
  }

  .review-item-header {
    .review-item-article-information {
      width: 80%;
      .review-item-article-information-title {

      }
    }

    .review-item-rating {
      vertical-align: baseline;

      .review-item-rating-number {
        font-size: unitSize(4);
      }
    }
  }

  .review-item-content {
    .review-item-excerpt {
      font-size: unitSize(2);
      width: 70%;
    }

    .review-item-author {
      border-left: 1px solid #ccc;
      padding-left: 10px;
    }
  }

  .review-item-footer {
    vertical-align: baseline;
  }
}

.card {
  // background: getColor(background, light);

  &--review {
    @extend .card;

    .card-excerpt {
      padding: 0;
      min-height: 32px;

      .author {
        font-weight: bold;
      }

      .content {
        margin-left: 48px;
      }
    }

    .card-article {
      border-bottom: 1px solid getColor(base, lines);
    }
  }

  .card-excerpt {
    padding: 6px;
  }

  .card-article {
    padding: 0;
    min-height: 32px;
    // border-top: 1px solid getColor(base, lines);

    .card-article-image,
    .card-article-description {
      display: inline-block;
    }

    .card-article-description {
      padding: 6px;
    }

    .card-article-image {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

    .card-article-description {
      width: calc(100% - 55px);
    }

    .card-article-description p {
      margin: 0;
    }

    .card-article-description-title {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      font-size: 1rem;
      margin: 0;
    }
  }

  .card-footer {
    padding: 6px;
    font-size: .875rem;
    min-height: 32px;
  }
}

.cardList {
  &--article {
    .card:not(:last-child) {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}
