<div class="masthead">
  <div container class="text--center">
    <h2 class="masthead-title kilo">Ketahui kebenarannya sekarang.</h2>

    <p>Coba <strong>SmartSearch</strong> kami! Masukkan judul atau link menuju berita:</p>

    <form action="/artikel/1" class="text--center">
      <div class="mainSearch">
        <input type="text" placeholder="http://news.detik.com/berita/3258755/wagub-djarot-penuhi-panggilan-bareskrim-soal-kasus-lahan-cengkareng?_ga=1.258322447.421029061.1457685142">
      </div>
      <button class="mainSearchButton button" type="submit">
        <svg viewBox="0 0 34 34" class="searchIcon">
          <ellipse stroke-width="3" cx="16" cy="15" rx="12" ry="12"></ellipse>
          <path d="M26 26 l 8 8" stroke-width="3" stroke-linecap="square"></path>
        </svg>
      </button>
    </form>
  </div>
</div>

<div class="siteContent">
  <div container>
    <div row>
      <div column="4">
        <h4>Tentang Benar.ID</h4>
        <p>Benar.ID adalah sebuah platform rating berita urun daya (crowdsourced) untuk dunia jurnalistik Indonesia yang lebih baik. <a href="/tentang">Lebih lanjut &raquo;</a></p>
      </div>
      <div column="4">
        <h4>Fitur</h4>
        <p>Di platform ini, kita bisa:</p>
        <ul>
          <li>Melihat dan menulis ulasan <a href="/artikel">suatu artikel</a>.</li>
          <li>Melihat rating rata-rata <a href="/portal">portal berita</a>.</li>
        </ul>
      </div>
      <div column="4">
        <h4>Tertarik untuk bergabung?</h4>
        <p>Masukkan email Anda di sini untuk masuk ke daftar penerima undangan.</p>
        <form>
          <p><input type="text" name="subscribe" placeholder="email@domainanda.com" /></p>
          <p class="text--right"><button class="button--xsm">Ya, saya tertarik!</button></p>
        </form>
      </div>
    </div>
  </div>
</div>
