<div class="masthead">
  <div container class="text--center">
    <h2 class="masthead-title kilo">Ketahui kebenarannya sekarang.</h2>

    <p>Masukkan judul atau link menuju berita:</p>

    <form class="text--center">
      <div class="mainSearch">
        <input class="input--flat" type="text" placeholder="http://news.detik.com/berita/3258755/wagub-djarot-penuhi-panggilan-bareskrim-soal-kasus-lahan-cengkareng?_ga=1.258322447.421029061.1457685142">
      </div>
      <button class="mainSearchButton button button--flat" type="submit">
        <svg viewBox="0 0 34 34" class="searchIcon">
          <ellipse stroke-width="3" cx="16" cy="15" rx="12" ry="12"></ellipse>
          <path d="M26 26 l 8 8" stroke-width="3" stroke-linecap="square"></path>
        </svg>
      </button>
    </form>
  </div>
</div>

<main class="siteContent--home">
  <div container>
    <div row>
      <div column=6>
        <h4>Ulasan Terbaru</h4>

        <p>Lihat apa yang mereka katakan tentang berita-berita berikut.</p>

        <div class="cardList--review">
          <div class="card--review">
            <div class="card-news">
              <div class="card-news-image" style="background-image: url(https://pesanlogo.files.wordpress.com/2012/02/logo-bar-detik1.jpg); background-size: cover; background-position: center center"></div>
              <div class="card-news-description">
                <h1 class="card-news-description-title">Wagub Djarot Penuhi Panggilan Bareskrim Soal Kasus Lahan Cengkareng</h1>
                <p class="card-news-description-media">oleh Detik.com</p>
                <p class="card-news-description-label text--right">
                  <span class="label">Politik</span>
                  <span class="label">Jakarta</span>
                  <span class="label">Djarot</span>
                </p>
              </div>
            </div>

            <div class="card-excerpt">
              <div class="author"><a href="">Bobby Priambodo</a> menulis:</div>
              <p class="content"><i>"Sudah merupakan fakta bahwa seorang pembaca akan terpengaruh oleh isi tulisan dari sebuah halaman saat ia melihat tata letaknya. Maksud penggunaan Lorem Ipsum adalah karena ia..."</i></p>
            </div>

            <div class="card-footer text--right">
              <a href="">100 Feedbacks</a> | <a href="">Upvote</a> | <a href="">Downvote</a>
            </div>
          </div>
        </div>

        <a class="button button--sm">Learn More &raquo;</a>
      </div>

      <div column=6>
        <h4>Berita Terbaru</h4>

        <p>Valid? Hoax? Ayo ikut berkontribusi dengan memberikan ulasan terhadap berita-berita ini!</p>

        <div class="cardList--news">
          <div class="card">
            <div class="card-news">
              <div class="card-news-image" style="background-image: url(https://pesanlogo.files.wordpress.com/2012/02/logo-bar-detik1.jpg); background-size: cover; background-position: center center"></div>
              <div class="card-news-description">
                <h1 class="card-news-description-title">Wagub Djarot Penuhi Panggilan Bareskrim Soal Kasus Lahan Cengkareng</h1>
                <p class="card-news-description-media">oleh Detik.com</p>
                <p class="card-news-description-label text--right">
                  <span class="label">Politik</span>
                  <span class="label">Jakarta</span>
                  <span class="label">Djarot</span>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-news">
              <div class="card-news-image" style="background-image: url(https://pesanlogo.files.wordpress.com/2012/02/logo-bar-detik1.jpg); background-size: cover; background-position: center center"></div>
              <div class="card-news-description">
                <h1 class="card-news-description-title">Wagub Djarot Penuhi Panggilan Bareskrim Soal Kasus Lahan Cengkareng</h1>
                <p class="card-news-description-media">oleh Detik.com</p>
                <p class="card-news-description-label text--right">
                  <span class="label">Politik</span>
                  <span class="label">Jakarta</span>
                  <span class="label">Djarot</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <a class="button button--sm">Learn More &raquo;</a>

        <h4>Rating Tertinggi</h4>

        <p>Media dengan rating tertinggi saat ini.</p>

        <a class="button button--sm">Learn More &raquo;</a>
      </div>
    </div>
  </div>
</main>
