<div class="masthead">
  <div container class="text--center">
    <h2 class="masthead-title kilo">Ketahui kebenarannya sekarang.</h2>

    <p>Coba <strong>SmartSearch</strong> kami! Masukkan judul atau link menuju berita:</p>

    <form class="text--center">
      <div class="mainSearch">
        <input class="input--flat" type="text" placeholder="http://news.detik.com/berita/3258755/wagub-djarot-penuhi-panggilan-bareskrim-soal-kasus-lahan-cengkareng?_ga=1.258322447.421029061.1457685142">
      </div>
      <button class="mainSearchButton button button--flat" type="submit">
        <svg viewBox="0 0 34 34" class="searchIcon">
          <ellipse stroke-width="3" cx="16" cy="15" rx="12" ry="12"></ellipse>
          <path d="M26 26 l 8 8" stroke-width="3" stroke-linecap="square"></path>
        </svg>
      </button>
    </form>
  </div>
</div>

<main class="siteContent--home">
  <div container>
    <div row>
      <div column=6>
        <h4>Ulasan Terbaru</h4>

        <p>Lihat apa yang mereka katakan tentang berita-berita berikut.</p>

        <div class="cardList--review">
          {{> cards/review}}
          {{> cards/review}}
          {{> cards/review}}
        </div>

        <a class="button button--sm">Learn More &raquo;</a>
      </div>

      <div column=6>
        <h4>Berita Terbaru</h4>

        <p>Valid? Hoax? Ayo ikut berkontribusi dengan memberikan ulasan terhadap berita-berita ini!</p>

        <div class="cardList--article">
          {{> cards/article}}
          {{> cards/article}}
          {{> cards/article}}
        </div>

        <a class="button button--sm">Learn More &raquo;</a>

        <h4>Rating Tertinggi</h4>

        <div class="cardList--portal">
          <div row>
            <div column=4>
              {{> cards/portal}}
            </div>
            <div column=4>
              {{> cards/portal}}
            </div>
            <div column=4>
              {{> cards/portal}}
            </div>
          </div>
        </div>

        <p>Media dengan rating tertinggi saat ini.</p>

        <a class="button button--sm">Learn More &raquo;</a>
      </div>
    </div>
  </div>
</main>
