{{> common/breadcrumbs}}

{{> common/page-title title='Aturan Komunitas'}}

<main class="siteContent">
  <div container>
    <div row>
      <div column="8 +2">
        <div class="article-item">
          <p>Pada platform Benar.ID, kami berusaha untuk menjadi sebuah komunitas yang memberikan manfaat baik untuk dunia jurnalistik Indonesia. Oleh karena itu, seluruh konten yang diproduksi oleh anggota komunitas (ulasan, <em>feedback</em>, komentar, dsb.) akan melalui moderasi ketat. Untuk mewujudkan hal tersebut, ada beberapa aturan yang harus diikuti dan akan menjadi acuan utama dalam moderasi sebagai berikut:</p>
          <ul>
            <li><strong>Sopan</strong>. Ketidaksopanan akan disikapi dengan sangat serius. Kami sangat mempercayai bahwa diskusi dan kritik yang baik sangat bisa dilakukan dengan tetap menghargai orang lain.</li>
            <li><strong>Berbasis fakta</strong>. Segala argumen harus berbasiskan fakta yang dapat dicari kebenarannya. Cantumkan referensi apabila dibutuhkan. Konten yang hanya berisi cacian, opini yang menyudutkan, dan tidak substantif tidak akan lolos moderasi dan dapat dihapus dari sistem.</li>
            <li><strong>Menggunakan bahasa yang baik dan benar</strong>. Kami tidak mempermasalahkan kata-kata gaul dan <em>slang</em>, tapi mohon <em>jGn meNuLis sPT iNi</em>. Gunakan bahasa yang dapat dengan mudah dimengerti orang lain. Penulisan yang baik dapat membantu menyakinkan pembaca terhadap poin kita.</li>
          </ul>
          <p>Konten-konten yang tidak sesuai dengan aturan di atas akan ditindak dengan tingkatan beragam, mulai dari pemberian peringatan hingga <em>banning</em> akun anggota yang bersangkutan. Kami juga mengajak seluruh anggota komunitas untuk berperan dalam mengawasi pelaksanaan aturan-aturan ini dengan menggunakan fitur <em>downvote</em> dan <em>lapor</em>.</p>
          <p>Mari bersama mendukung jurnalisme yang lebih baik!</p>
          <p>Tim Benar.ID</p>
          <p class="text--right"><a href="#">Ajukan saran perbaikan</a></p>
        </div>
      </div>
    </div>
  </div>
</main>
