<h3><a href="/artikel/{{article.id}}">{{article.title}}</a></h3>
<p><a href="{{article.url}}" target="_blank" rel="noopener noreferrer">{{article.url}}</a></p>

<h4>Ulasan oleh {{review.member.name}}</h4>

<div>Rating: <strong>{{review.rating}}/10</strong></div>

<div>
  {{review.content}}
</div>

<div>{{review.upvotes.length}} upvote</div>


{{#if user}}
<h4>Action</h4>

<div>
  {{#unless user.ownReview}}
    {{#if user.upvoted}}
    <form action="/artikel/{{article.id}}/ulasan/{{review.member.name_slug}}/cancel-upvote" method="post">
      <input type="hidden" name="reviewId" value={{review.id}} />
      <input type="submit" value="Upvoted" />
    </form>
    {{else}}
    <form action="/artikel/{{article.id}}/ulasan/{{review.member.name_slug}}/upvote" method="post">
      <input type="hidden" name="reviewId" value={{review.id}} />
      <input type="submit" value="Upvote" />
    </form>
    <form action="/artikel/{{article.id}}/ulasan/{{review.member.name_slug}}/downvote" method="post">
      <input type="hidden" name="reviewId" value={{review.id}} />
      <input type="submit" value="Downvote" />
    </form>
    <a href="/artikel/{{article.id}}/ulasan/{{review.member.name_slug}}/report">Laporkan</a>
    {{/if}}
  {{/unless}}
</div>
{{/if}}

<h4>Feedback</h4>

{{#if user}}
<form action="/artikel/{{article.id}}/ulasan/{{review.member.name_slug}}/feedback" method="post">
  <div>
    <textarea name="content" rows="3" cols="40" placeholder="Beri feedback..."></textarea>
  </div>
  <input type="submit" value="Kirim" />
</form>
{{/if}}

<ul>
  {{#each review.feedbacks}}
  <li>
    <p>{{member.name}} - {{content}} membalas {{parent_feedback_id}}</p>
    {{#if ../user}}
    <p>
      <form action="/artikel/{{../article.id}}/ulasan/{{../review.member.name_slug}}/feedback/{{id}}/reply" method="post">
        <div>
          <textarea name="content" rows="3" cols="40" placeholder="Balas..."></textarea>
        </div>
        <input type="submit" value="Kirim" />
      </form>
    </p>
    {{/if}}
  </li>
  {{/each}}
</ul>
