@import "~concise.css/src/concise";

.btn {
  /*border-radius: 4px;*/
  /*transition: all .3s;*/
}

.siteHeader {
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 22px;
  margin-bottom: 0;
}

.nav { text-align: right; }

.nav li {
  display: inline;
  line-height: 3;
  margin-left: 25px;
}
.nav li:first-of-type {
  margin-left: 0;
}

.masthead {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ), url(http://bgfons.com/upload/newspaper_texture2847.jpg);
  color: #fff;
  padding: 50px 0;

  .mainSearch {
    input {
      background-color: #fff;
      color: #000;
    }
  }
}
@media (min-width: 48em) {
  .masthead {
    padding: 100px 0;

    .mainSearch {

      input {
        max-width: 400px;
      }
    }
  }
}

.masthead-title {
  margin-top: 0;
  color: #fff;
}

.siteContent {
  padding: 50px 0;
}
.siteFooter {
  border-top: 1px solid #eee;
  font-size: .875em;
  padding: 15px 0;
}
