<div class="card--review">
  <div class="card-article">
    <div class="card-article-image" style="background-image: url(https://pesanlogo.files.wordpress.com/2012/02/logo-bar-detik1.jpg); background-size: cover; background-position: center center"></div>
    <div class="card-article-description">
      <h1 class="card-article-description-title">Wagub Djarot Penuhi Panggilan Bareskrim Soal Kasus Lahan Cengkareng</h1>
      <p class="card-article-description-media">oleh Detik.com</p>
      <p class="card-article-description-label text--right">
        <span class="label">Politik</span>
        <span class="label">Jakarta</span>
        <span class="label">Djarot</span>
      </p>
    </div>
  </div>

  <div class="card-excerpt">
    <div class="author"><a href="">Bobby Priambodo</a> menulis:</div>
    <p class="content"><i>"Sudah merupakan fakta bahwa seorang pembaca akan terpengaruh oleh isi tulisan dari sebuah halaman saat ia melihat tata letaknya. Maksud penggunaan Lorem Ipsum adalah karena ia..."</i></p>
  </div>

  <div class="card-footer text--right">
    <a href="">100 Feedbacks</a> | <a href="">Upvote</a> | <a href="">Downvote</a>
  </div>
</div>
