{{> common/breadcrumbs}}

{{> common/page-title title='Bobby Priambodo' profile=true}}

<main class="siteContent">
  <div container>
    <div row>
      <div column="8">
        <h4>Ulasan Terbaru</h4>

        {{> list-item/review-home}}
        {{> list-item/review-home}}
        {{> list-item/review-home}}
      </div>
      <div column="4">
        <h4>Statistik</h4>
        <div class="article-item">
          <ul>
            <li>34 Ulasan</li>
            <li>200 Feedback</li>
            <li>240 Upvote</li>
          </ul>
        </div>

        <h4>Topik</h4>

        <div class="article-item">
          <ul>
            <li>Teknologi</li>
            <li>Jakarta</li>
            <li>Pendidikan</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
