{{> common/breadcrumbs}}

{{> common/page-title title='Portal Berita'}}

<main class="siteContent">
  <div container>
    <div row>
      <div column="3">
        <h4>Cari</h4>

        <div class="article-item">
          <p><input type="text" name="query" placeholder="Portal berita"></p>
        </div>

        <h4>Urut berdasarkan...</h4>

        <div class="article-item">
          <p>
            <input type="radio" name="sort" value="name" checked> <label for="date">Nama</label> <br>
            <input type="radio" name="sort" value="rating"> <label for="rating">Rating</label>
          </p>
        </div>
      </div>
      <div column="9">
        <h4>Daftar Portal Berita</h4>
        <div row>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
          <div column="2">{{> list-item/portal}}</div>
        </div>
      </div>
    </div>
  </div>
</main>
