<header class="siteHeader">
  <div container>
    <div row>
      <div column="6">
        <h1 class="logo"><a href="/">NewsReview</a></h1>
        {{#unless hideNavbarSearch}}
        <div class="smartSearch--navbar">
          <form action="/artikel">
            <input type="text" placeholder="Masukkan judul atau tautan menuju berita"/>
            <button class="button--flat" type="submit">
              <svg viewBox="0 0 34 34" class="searchIcon--dark">
                <ellipse stroke-width="3" cx="16" cy="15" rx="12" ry="12"></ellipse>
                <path d="M26 26 l 8 8" stroke-width="3" stroke-linecap="square"></path>
              </svg>
            </button>
          </form>
        </div>
        {{/unless}}
      </div>

      <nav column="6" class="nav">
        <ul>
          <li><a href="/artikel">Cari Artikel</a></li>
          <li><a href="/portal">Portal Berita</a></li>
          <li><a href="/gabung">Ingin Bergabung?</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
