<div class="masthead--normal">
  <div container>
    <div row>
      <div column="8">
        {{#if article}}
        <h3 class="masthead-title">{{title}}</h3>
        <p>
          oleh <span class="nameWithPicture"><a href="/portal/1"><img src="https://pesanlogo.files.wordpress.com/2012/02/logo-bar-detik1.jpg" />Detik.com</a></span> -
          <a href="http://news.detik.com/berita/3259717/ketua-dpr-kenaikan-parliamentary-threshold-harus-untuk-kepentingan-bangsa" target="_blank">Kunjungi artikel</a>
        </p>
        {{else}}
          {{#if profile}}
          <h3 class="masthead-title nameWithPicture--big">
            {{#if picture}}<img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/11745837_10207522960374886_9040000937125146343_n.jpg?oh=79622baa279d735c49434e9e025bec4d&oe=582D3475" />{{/if}}
            {{title}}
          </h3>
          <p>Mahasiswa Universitas Indonesia</p>
          {{else}}
            <h3 class="masthead-title nameWithPicture--big">
              {{#if picture}}<img src="https://pesanlogo.files.wordpress.com/2012/02/logo-bar-detik1.jpg" />{{/if}}
              {{title}}
            </h3>
            {{#unless picture}}<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>{{/unless}}
          {{/if}}
        {{/if}}
      </div>
      <div column="4" class="rating text--right">
        {{#if rating}}
        <span class="rating-number">{{rating}}</span>
        <span class="rating-outOf">/ 10</span>
        {{/if}}
      </div>
    </div>
  </div>
</div>
