<div class="masthead--normal">
  <div container>
    <div row>
      <div column="8">
        <h3 class="masthead-title">{{title}}</h3>
        {{#if article}}
        <p>
          oleh <span class="nameWithPicture"><a href="/portal/1"><img src="https://pesanlogo.files.wordpress.com/2012/02/logo-bar-detik1.jpg" />Detik.com</a></span> -
          <a href="http://news.detik.com/berita/3259717/ketua-dpr-kenaikan-parliamentary-threshold-harus-untuk-kepentingan-bangsa" target="_blank">Kunjungi artikel</a>
        </p>
        {{/if}}
      </div>
      <div column="4" class="rating text--right">
        <span class="rating-number">{{rating}}</span>
        <span class="rating-outOf">/ 10</span>
      </div>
    </div>
  </div>
</div>
