<div row class="article-item">
  <div class="article-item-metadata">
    <span class="article-item-metadata-portal"><a href="/portal/1"><img src="https://pesanlogo.files.wordpress.com/2012/02/logo-bar-detik1.jpg" />Detik.com</a></span>
    <span class="separator">|</span>
    <span class="article-item-metadata-topics">Politik, Jakarta</span>
    <span class="separator">|</span>
    <span class="article-item-rating"><strong>8.8/10</strong></span>
  </div>
  <div class="article-item-title"><a href="/artikel/1"><strong>Ketua DPR: Kenaikan Parliamentary Threshold Harus untuk Kepentingan Bangsa</a></strong></div>
  <div class="article-item-url">http://news.detik.com/berita/3259717/ketua-dpr...</div>
  <div class="article-item-reviewsCount text--right">
    <a href="/artikel/1/ulasan">10 Ulasan &raquo;</a>
  </div>
</div>
