<div class="review-item">
  <div class="review-item-header">
    <div class="review-item-author float--left">
      <div class="review-author-name nameWithPicture"><a href="/user/1"><img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/11745837_10207522960374886_9040000937125146343_n.jpg?oh=79622baa279d735c49434e9e025bec4d&oe=582D3475" /><strong>Bobby Priambodo</strong></a>, Mahasiswa Universitas Indonesia</div>
      <div><p class="muted"><small>Ditulis 1 hari yang lalu.</small></p></div>
    </div>
    <div class="review-item-rating float--right {{#if upvote}}bg--success{{else}}bg--error{{/if}}">
      {{#if upvote}}
      <i class="fa fa-thumbs-up"></i>
      {{else}}
      <i class="fa fa-thumbs-down"></i>
      {{/if}}
    </div>
  </div>
  <div class="review-item-content">
    <div class="review-item-excerpt float--left">
      <p>Bagus, penuh dengan fakta, dan to the point.</p>
    </div>
  </div>
  <div class="review-item-footer text--right">
    <p>
      <a href="">Balas</a> |
      {{#if hasReplies}}
      <a href="">Tutup balasan</a>
      {{else}}
      <a href="">13 Balasan</a>
      {{/if}}
    </p>
  </div>
</div>

{{#if hasReplies}}
<div row class="review-item-replies">
  <div column="11 +1">
    <div class="review-item">
      <div class="review-item-header">
        <div class="review-item-author float--left">
          <div class="review-author-name nameWithPicture"><a href="/user/1"><img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/11745837_10207522960374886_9040000937125146343_n.jpg?oh=79622baa279d735c49434e9e025bec4d&oe=582D3475" /><strong>Bobby Priambodo</strong></a>, Mahasiswa Universitas Indonesia</div>
          <div><p class="muted"><small>Ditulis 1 hari yang lalu.</small></p></div>
        </div>
      </div>
      <div class="review-item-content">
        <div class="review-item-excerpt float--left">
          <p>Bagus, penuh dengan fakta, dan to the point.</p>
        </div>
      </div>
      <div class="review-item-footer text--right">
        <p>
          <a href="">Balas</a>
        </p>
      </div>
    </div>
  </div>
  <div column="10 +2">
    <div class="review-item">
      <div class="review-item-header">
        <div class="review-item-author float--left">
          <div class="review-author-name nameWithPicture"><a href="/user/1"><img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/11745837_10207522960374886_9040000937125146343_n.jpg?oh=79622baa279d735c49434e9e025bec4d&oe=582D3475" /><strong>Bobby Priambodo</strong></a>, Mahasiswa Universitas Indonesia</div>
          <div><p class="muted"><small>Ditulis 1 hari yang lalu.</small></p></div>
        </div>
      </div>
      <div class="review-item-content">
        <div class="review-item-excerpt float--left">
          <p>Bagus, penuh dengan fakta, dan to the point.</p>
        </div>
      </div>
      <div class="review-item-footer text--right">
        <p>
          <a href="">Balas</a>
        </p>
      </div>
    </div>
  </div>
  <div column="10 +2">
    <div class="review-item">
      <div class="review-item-header">
        <div class="review-item-author float--left">
          <div class="review-author-name nameWithPicture"><a href="/user/1"><img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/11745837_10207522960374886_9040000937125146343_n.jpg?oh=79622baa279d735c49434e9e025bec4d&oe=582D3475" /><strong>Bobby Priambodo</strong></a>, Mahasiswa Universitas Indonesia</div>
          <div><p class="muted"><small>Ditulis 1 hari yang lalu.</small></p></div>
        </div>
      </div>
      <div class="review-item-content">
        <div class="review-item-excerpt float--left">
          <p>Bagus, penuh dengan fakta, dan to the point.</p>
        </div>
      </div>
      <div class="review-item-footer text--right">
        <p>
          <a href="">Balas</a>
        </p>
      </div>
    </div>
  </div>
</div>
{{/if}}
