<div class="portal-item text--center">
  <a href="/portal/1">
    <div class="portal-item-image" style="background-image: url(https://pesanlogo.files.wordpress.com/2012/02/logo-bar-detik1.jpg)"></div>
  </a>
  <div class="portal-item-information">
    <div class="portal-item-information-title"><a href="/portal/1"><strong>Detik.com</strong></a></div>
    <div class="portal-item-information-rating">
      <span class="rating-number">8.8</span>
      <span class="rating-outOf">/ 10</span>
    </div>
    <div class="portal-item-information-count"><small>dari 1826 artikel</small></div>
  </div>
</div>
