<div class="review-item">
  <div class="review-item-header">
    <div class="review-item-author float--left">
      <div class="review-author-name nameWithPicture"><a href="/member/1"><img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/11745837_10207522960374886_9040000937125146343_n.jpg?oh=79622baa279d735c49434e9e025bec4d&oe=582D3475" /><strong>Bobby Priambodo</strong></a>, Mahasiswa Universitas Indonesia</div>
      <div><p class="muted"><small>Ditulis 1 hari yang lalu | Dibaca 2483 kali</small></p></div>
    </div>
    <div class="review-item-rating float--right">
      <span class="rating-number">8</span>
      <span class="rating-outOf">/ 10</span>
    </div>
  </div>
  <div class="review-item-content">
    <div class="review-item-excerpt float--left">
      {{#if full}}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis ex et lectus iaculis, porttitor molestie lectus ullamcorper. Phasellus facilisis sapien eget risus auctor tincidunt. Vivamus eget mollis nulla. Suspendisse sed nisi at lacus porttitor dictum. Cras velit magna, aliquam sed ligula in, semper ornare nisl. Maecenas gravida magna enim, a ultrices ante vulputate sit amet. Nam ornare faucibus ante cursus ultricies. Suspendisse lacinia luctus sem et malesuada. Donec laoreet, dolor vitae lobortis dignissim, quam sem semper purus, et consectetur est metus non mi. Nunc felis purus, volutpat id nunc quis, rutrum mattis tellus. Proin dictum est urna, a dictum dolor iaculis in.</p>
        <p>Ut euismod eu purus ac posuere. Donec commodo, erat quis ultricies cursus, justo augue ultrices risus, a varius ex libero et lectus. Fusce porttitor risus non odio euismod, interdum laoreet massa pulvinar. Nunc a tellus lorem. Proin a dui sit amet odio malesuada lobortis. Phasellus convallis, est quis efficitur fermentum, velit nisl scelerisque augue, in pellentesque ex purus nec est. Quisque quis mi faucibus, mollis dui aliquam, laoreet ipsum. Proin mollis varius nisl, ullamcorper commodo sem mollis fermentum. Nunc cursus ultricies lectus nec elementum. Cras luctus tellus et congue dapibus. Aenean id nisl quis velit dictum porttitor.</p>
        <p>In lacinia in velit nec finibus. Sed eu elementum tellus, vel gravida nibh. Aliquam pharetra convallis tincidunt. Morbi sed neque pellentesque, volutpat leo efficitur, viverra risus. Cras condimentum semper efficitur. Nam quis odio scelerisque, placerat ipsum eu, mattis quam. Sed semper auctor lacus nec vehicula. Aliquam erat volutpat. Aenean vel nunc tincidunt, cursus mi a, condimentum tortor. Quisque eu arcu et lacus suscipit lobortis in ut arcu.</p>
        <p>Cras commodo lorem condimentum nisl volutpat porta. Sed nec bibendum massa. Etiam eu fermentum lorem. Ut feugiat diam nec nisl mollis hendrerit. Cras iaculis est sem, non porta odio posuere in. Sed in urna rhoncus, mollis nulla et, vehicula magna. In mauris tortor, accumsan et dui lobortis, vehicula vestibulum lorem. Mauris hendrerit ante tortor, et feugiat neque fringilla ut. Nunc volutpat et velit a lacinia. Quisque egestas elit libero, sed pellentesque nulla malesuada eu. Nunc id volutpat ante, sed convallis erat. Mauris tempus, sem a pulvinar congue, mauris metus elementum dolor, ac posuere justo urna vitae neque. Fusce eget risus libero. Pellentesque egestas nisl vel lectus tristique vulputate. Nam rutrum ex odio, nec gravida orci congue et. Nulla consequat tortor risus, in faucibus neque efficitur ut.</p>
      {{else}}
        <p>Sudah merupakan fakta bahwa seorang pembaca akan terpengaruh oleh isi tulisan dari sebuah halaman saat ia melihat tata letaknya. Maksud penggunaan... <a href="/artikel/1/ulasan/1">(selengkapnya)</a></p>
      {{/if}}
    </div>
  </div>
  <div class="review-item-footer text--right">
    <p>
      {{#if full}}
      <a href="">100 <i class="fa fa-thumbs-up"></i></a> |
      <a href="">5 <i class="fa fa-thumbs-down"></i></a> |
      <a href="">Laporkan</a>
      {{else}}
      100 <i class="fa fa-thumbs-up"></i> |
      5 <i class="fa fa-thumbs-down"></i> |
      <a href="/artikel/1/ulasan/1">Baca Selengkapnya</a>
      {{/if}}
    </p>
  </div>
</div>
