<div class="review-item">
  <div class="review-item-header">
    <div class="review-item-article-information float--left">
      <div class="review-item-article-information-title"><a href=""><strong>Ketua DPR: Kenaikan Parliamentary Threshold Harus untuk Kepentingan Bangsa</strong></a></div>
      <div class="review-item-article-information-author"><small><a href="">Detik.com</a> | <a href="">http://news.detik.com/berita/3259717/ketua-dpr...</a></small></div>
    </div>
    <div class="review-item-rating float--right">
      <span class="rating-number">8.8</span>
      <span class="rating-outOf">/ 10</span>
    </div>
  </div>
  <div class="review-item-content">
    <div class="review-item-excerpt float--left">
      <p>Sudah merupakan fakta bahwa seorang pembaca akan terpengaruh oleh isi tulisan dari sebuah halaman saat ia melihat tata letaknya. Maksud penggunaan...</p>
    </div>
    <div class="review-item-author float--right">
      <div class="review-author-name"><a href=""><strong>Bobby Priambodo</strong></a></div>
      <div class="review-author-title"><small>Mahasiswa Universitas Indonesia</small></div>
    </div>
  </div>
  <div class="review-item-footer text--right">
    <p>
      <a href="">100 <i class="fa fa-thumbs-up"></i></a> |
      <a href="">5 <i class="fa fa-thumbs-down"></i></a>
    </p>
  </div>
</div>
