<div class="masthead--normal">
  <div container>
    <h2 class="masthead-title">Artikel</h2>
  </div>
</div>

<div class="breadcrumbsWrapper">
  <div container>
    <div row>
      <div column=12>
        <ul class="breadcrumbs breadcrumbs--flat">
          <li><a href="/">Beranda</a></li>
          <li class="is-active"><a href="/artikel">Artikel</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<main class="siteContent">
  <div container>
    <div row>
      <div column=8>
        <h4>Main</h4>
      </div>
      <div column=4>
        <h4>Sidebar</h4>
      </div>
    </div>
  </div>
</main>
